# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# macOS
.DS_Store

# Virtualenv
env/
venv/
ENV/
env.bak/
venv.bak/
images/

.env