<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Analytics Pages{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href={% static "style.css" %}>
    
</head>
<body>
    <header>
        <h1>Analytics Pages</h1>
        {% if user.is_authenticated %}
            <form action="{% url "logout" %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% endif %}
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2024 Suraj Wate</p>
    </footer>
</body>
</html>